.form-homepage {
  /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.sign-in-form-container {
  height: 55%;
}

.sign-up-form-container {
  height: 100%;
}

.form-container {
  margin-top: 7rem;
  border: 2px solid #f42c04;
  width: 50%;
  /* height: 100%; */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  /* position: relative;
    display: flex;
    align-items: center; */
  /* height: 100%; */
}

/* form {
    height: 100%;
} */

.form-header {
  text-align: center;
  color: red;
  font-weight: 400;
  font-size: 30px;
  margin: 10px;
}

/* #login-form {
    margin: 0 auto;
    width: 90%;
} */

.form-field {
  margin: 0 auto 20px auto;
  width: 50%;
}

.form-field label {
  display: block;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-field input[type]:not([id="form-button"]) {
  /* width: calc(100% - 20px); */
  width: 100%;
  padding: 10px;
  /* font-size: 16px; */
  border-radius: 5px;
  border: 2px solid gray;
}

.form-field input[type]:not([type="form-button"]):focus {
  border: 2px solid #f42c04;
  box-shadow: 0 0 5px gray;
}

.form-button {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #f42c04;
  background-color: #f42c04;
  color: white;
}

.form-button:hover {
  background-color: #f14725;
  cursor: pointer;
}

.form-button:active {
  box-shadow: 0 0 5px #f42c04;
}

#signup-link {
  font-size: 16px;
  margin-left: 10px;
}

#signup-link:link {
  color: #f42c04;
}

#signup-link:visited {
  color: #f42c04;
}

#signup-link:hover {
  color: #f14725;
}

#signup-link:active {
  color: #d42705;
}

.signup-p {
  text-align: center;
  margin: 20px 10px;
  font-size: 18px;
}

@media only screen and (max-width: 731px) {
  .form-container {
    /* border: 2px solid red; ONLY FOR DEV PURPOSES */
    width: 90%;
  }

  /* .form-field {
        margin: 0 auto 20px auto;
    } */
}

/* @media only screen and (max-width: 575px) {
    .login-container {
        border: 2px solid blue;
        width: 90%;
    }
} */
