.card {
  margin-top: 3rem;
  position: absolute;
  height: 340px;
  width: 250px;
  border: 2px solid black;
  font-size: 7rem;
  border-radius: 15px; /* think about how we will change this to reflect skins*/
  background: white;
  padding-top: 90px;
  /* transition: transform 1s; */
  transform-style: preserve-3d;
  animation: bg 0.9s;
}
@keyframes bg {
  0% {
    background-image: url("../../Media/yugioh.jpeg");
    background-size: cover;
    color: transparent;
  }
  100% {
    background-image: none;
  }
}

.card::before,
.card::after {
  content: attr(data-value);
  letter-spacing: 0.1rem;
  font-size: 2rem;
  position: absolute;
}

.card::before {
  top: 0.5rem;
  left: 0.5rem;
}

.card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}

.card:hover {
  border: 2px dotted black;
}

.red {
  color: red;
}

.black {
  color: black;
}

@media only screen and (max-width: 750px) {
  .card {
    height: 280px;
    width: 195px;
    padding-top: 85px;
    font-size: 4rem;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 1111px) {
}
