:root {
  --green-grad: linear-gradient(
    274deg,
    rgba(100, 181, 172, 1) 1%,
    rgba(4, 115, 102, 1) 55%
  );
}

.container1 {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: space-evenly;
  /* background-color: #fde9e2; */
  position: relative;
  width: 100%;
  animation: nav-load 1s ease-in;
  /* background-image: linear-gradient(315deg, #000000 0%, #181717 74%); */
  background: rgba(0, 0, 0, 0.8);
}
@keyframes nav-load {
  0% {
    transform: translateZ(-100%);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* draw card button */
.time {
  transform: translateY(0);
  opacity: 1;
  font-size: 35px;
  animation: change 1s infinite linear;
}
.time-paused {
  transform: translateY(0);
  opacity: 1;
  font-size: 35px;
}

@keyframes change {
  0% {
    transform: translatex(-50px) scale(0.3);
    opacity: 0;
  }
  25% {
    transform: translatex(0px) scale(1);
    opacity: 1;
  }
  75% {
    transform: translatex(0px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translatex(50px) scale(0.3);
    opacity: 0;
  }
}
.game-content {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-icons {
  font-size: 32px;
}
.fa-play {
  margin-left: 7px;
}
.draw-button {
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: 2rem;
  min-width: 10rem;
  display: block;
  height: 4vh;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 1rem 2.9rem;
  background-color: #fde9e2;
  color: #000;
  border: 0.15rem solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
}
.draw-button:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0rem;
  background-size: 7px 7px;
}
.draw-button:after:hover {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    transparent 2px,
    transparent 5px
  );
}

.draw-button:hover {
  border-color: rgba(255, 0, 0, 0.5);
  background: transparent;
  color: white;
}

.draw-button:active,
.draw-button:visited,
.draw-button:focus {
  outline: none;
}

.draw-button:hover:after {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5) 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid rgba(255, 0, 0, 0.5);
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}

.draw-button:disabled {
  cursor: not-allowed;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* game container */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 4rem; */
  height: 80vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  /* border-radius: 50px; */
  /* background-color: black;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
}

.fullwidth {
  width: 60%;
}

.game-container::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 40% 60%, 40% 60%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(274deg, #bd060f 1%, #bd060f 55%),
    linear-gradient(transparent, transparent),
    linear-gradient(274deg, #bd060f 1%, #bd060f 55%),
    linear-gradient(transparent, transparent);
  animation: rotate 4s linear infinite;
}

.game-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 8px;
  top: 8px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  background: black;
  background-color: #000000;
  background-color: #000000;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #171818 74%);

  /* background-image: linear-gradient(315deg, #000000 0%, #181717 74%); */
  /* border-radius: 50px; */
}

/* spot for just the card deck */
.deck-spot {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 76vh;
  /* margin-top: 1vh; */
}
/* face down cards  */

.face-down-div {
  grid-column: 1/2;
  display: flex;
  justify-content: center;

  /* width: 70%; */
}
.face-down {
  margin-top: 3.4rem;
  position: absolute;
  height: 340px;
  width: 250px;
  /* border: 2px solid black; */
  font-size: 7rem;
  border-radius: 15px; /* think about how we will change this to reflect skins*/
  background: white;
  grid-column: 1/2;
  display: flex;
  /* margin-left: 5rem; */
  justify-content: center;

  /* padding-left: 30rem; */
  /* margin-right: 10rem; */
}

.two-decks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  /* justify-content: center; */
  /* position: relative; */
}
.card-list-spot {
  padding-right: 17rem;
  grid-column: 2/2;
  display: flex;
  justify-content: center;
}

/* pre-game */

.pre-game {
  color: white;
  width: 100%;
  /* margin-top: 1.5rem; */
  font-size: 1.8rem;
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.7rem;
}
/* input {
  margin-left: 1.5rem;
} */

/*helper function*/
.none {
  display: none;
  right: -100%;
}

/* pregame 1 */

.workout-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.prompt-div {
  height: 8vh;
  display: flex;
  align-items: center;
}
.pregame-prompt {
  color: white;
  text-shadow: 1px 1px #64b4ac;
  text-transform: uppercase;
}

.input-workout-div {
  width: 60%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  /* height: 25rem; */
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.6);
  background-color: #fde9e2;
  color: black;
}
.input-workout {
  width: 75%;
  height: 10vh;
  padding: 1vh 1vh;
  margin: 1rem 0;

  /* background: linear-gradient(to top, #64b5ac 50%, #fde9e2 50%) bottom;
  background-size: 200%;
  transition: 0.5s ease-out; */
}
.input:hover {
  color: black;
  background-position: bottom;
  text-decoration: none;
}
.right {
  animation: right 1s;
  /* transition: all ease-in-out; */
  grid-column: 2/2;
}

.left {
  animation: left 1s;
  justify-items: end;
  grid-column: 1/2;
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(600px) scale(1.5);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-600px) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.button-directions {
  display: flex;
  /* margin-top: 1rem; */
  width: 100%;
  justify-content: center;

  /* margin-bottom: 0; */
}

.button-div {
  height: 8vh;
  display: flex;
  align-items: center;
}
.next-button {
  width: 10rem;

  margin-right: auto;
  margin-left: auto;
  background-color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.23);
  background: #fde9e2;
  color: black;
  height: 6vh;
  /* height: 8vh; */
}
.next {
  width: 12rem;
  margin-left: 2rem;
}
.back {
  width: 12rem;
  margin-right: 2rem;
}

/* pregame 2 */

.time-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  animation: render 1s ease-in;
}
@keyframes render {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.input-time-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: white;
  /* height: 3.5rem; */
}
.input-time {
  height: 4rem;
  width: 25%;
  transition: 0.5s ease-in;
  color: black;
}
.timed-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  animation: render 2s ease-in;
}
.time-intervals {
  height: 4rem;
  width: 50%;
  margin: 0.5rem 0;
}
.start-workout-button:hover {
  font-weight: 900;
}

/* @media only screen and (max-height: 700px) {
  .game-container {
    height: 30rem;
    background: white;
  }
  .deck-spot {
    height: 28rem;
  }
  .workout-settings {
    height: 28rem;
  }
}*/

/* @media only screen and (max-height: 902px) {
  .game-container {
    height: 79vh;
  }
  .deck-spot {
    height: 78vh;
  }
}
@media only screen and (max-height: 858px) {
  .game-container {
    height: 78vh;
  }
  .deck-spot {
    height: 77vh;
  }
}
@media only screen and (max-height: 820px) {
  .game-container {
    height: 77vh;
  }
  .deck-spot {
    height: 76vh;
  }
}
@media only screen and (max-height: 780px) {
  .game-container {
    height: 76vh;
  }
  .deck-spot {
    height: 75vh;
  }
}
@media only screen and (max-height: 742px) {
  .game-container {
    height: 75vh;
  }
  .deck-spot {
    height: 74vh;
  }
}
@media only screen and (max-height: 722px) {
  .game-container {
    height: 74vh;
  }
  .deck-spot {
    height: 73vh;
  }
}
@media only screen and (max-height: 687px) {
  .game-container {
    height: 73vh;
  }
  .deck-spot {
    height: 72vh;
  }
}
@media only screen and (max-height: 664px) {
  .game-container {
    height: 72vh;
  }
  .deck-spot {
    height: 71vh;
  }
}
@media only screen and (max-height: 634px) {
  .game-container {
    height: 71vh;
  }
}
@media only screen and (max-height: 610px) {
  .game-container {
    height: 70vh;
  }
}
@media only screen and (max-height: 590px) {
  .game-container {
    height: 69vh;
  }
} */
/* media queries  */
@media only screen and (max-width: 750px) {
  /* .container {
    margin-top: 3rem;
  } */
  .card-list-spot {
    padding-right: 12rem;
  }
  .face-down-div {
    padding-left: 12rem;
  }
  .home-button-div {
    margin-top: 0rem;
  }
  .game-container {
    /* height: 38rem; */
    /* width: 80%; */
  }
}

@media only screen and (max-width: 1111px) {
  .two-decks {
    display: flex;
    justify-content: center;
    animation: none;
  }

  /* .next-button {
    margin-top: 1rem;
  } */
  .input-workout-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* height: 28rem; */

    margin: 0 0;
  }
  .input-workout {
    margin: 1rem 1rem;
    height: 6vh;
  }
  .face-down-div {
    display: none;
  }
  .input {
    margin: 0.2rem 0;
  }
  h3 {
    font-size: 1.5rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 840px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1300px) {
  .two-decks {
    width: 100%;
  }
}

/* user-info */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.user-info {
  background: rgb(100, 181, 172);
  background: linear-gradient(
    274deg,
    rgba(100, 181, 172, 1) 1%,
    rgba(4, 115, 102, 1) 55%
  );
  width: 30%;
  margin-top: 4rem;
  height: 38rem;
  border-radius: 50px;
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 1s all ease-in;
  /* animation-fill-mode: forwards; */
}
.user-info-small {
  background: rgb(100, 181, 172);
  background: linear-gradient(
    274deg,
    rgba(100, 181, 172, 1) 1%,
    rgba(4, 115, 102, 1) 55%
  );
  width: 5%;
  margin-top: 4rem;
  height: 38rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 1s all ease-in;
}

.user-info::before,
.user-info-small::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 40% 50%, 40% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(315deg, #000000 1%, #414141 74%),
    linear-gradient(transparent, transparent),
    linear-gradient(315deg, #000000 0%, #414141 74%),
    linear-gradient(transparent, transparent);
  animation: rotate 4s linear infinite;
}

.user-info::after,
.user-info-small::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 8px;
  top: 8px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  background: rgb(100, 181, 172);
  background: linear-gradient(
    274deg,
    rgba(100, 181, 172, 1) 1%,
    rgba(4, 115, 102, 1) 55%
  );
  border-radius: 50px;
}

.user-info-text {
  transition: 1.2s all ease-in-out;
  color: white;
  font-size: 1.8rem;
}
.user-info .user-info-text {
}
.user-info-small .user-info-text {
  transform: rotate(90deg);
  width: 20rem;
  display: inline-block;
  text-align: center;
}

.user-info-button {
  top: 2rem;
  background: transparent;
  border: none;
}
