.container { 
  height: 80rem;
  background-color: #fde9e2;
  position: relative;
  width: 100%;
}

.home-container {
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(rgba(253, 233, 226, 0.7), rgba(0,0,0,.1)),  url('https://files.wallpaperpass.com/2019/10/fitness%20wallpaper%20198%20-%201920x1080.jpg') center/cover fixed no-repeat;
}

.edit-background {
  background: linear-gradient(rgba(253, 233, 226, 0.4), rgba(0,0,0,.2)),  url('https://files.wallpaperpass.com/2019/10/fitness%20wallpaper%20198%20-%201920x1080.jpg') center/cover fixed no-repeat;
}

/* intro text on home page */
.home-text {
  top:3rem;
  position: absolute;
  text-align: center;
  color:transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 15rem;
}

span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem; 
  text-shadow: 2px 2px 3px black, 0 0 5px #FDE9E2;
  color: black
}
.span-hover {
  text-shadow: 2px 2px 3px black, 0 0 5px #FDE9E2;
}

/* buttons */
.home-button-div {
  display: flex;
  flex-direction: column;
  padding-top: 20rem;
  margin-top: 5rem;

}
.home-button {
  background: #64B5AC;
  padding: 1rem 1rem;
  border-radius: 25px;
  display: flex;
  min-height: 5rem;
  min-width: 30rem;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
}
.home-button:first-child {
  margin-bottom: 2rem;
}
.home-button p {
  font-size: 1.5rem;
  margin-top: .6rem;
  margin-left: 5rem;
}

.home-button-img {
  height: 3rem;
  /* padding-left: 3rem; */
}

.home-button:hover {
  background: white;
  color: black;
}



@media only screen and (max-width: 750px){
  .container{
      margin-top: 3rem;
  }
  .home-button-div{
    margin-top: 0rem;
  }

}