#challenges-homepage {
  display: flex;
  justify-content: center;
}

#challenges-container {
  margin-top: 10px;
  border: 2px solid #f42c04;
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
}
